@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans' ,sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}
h1 , h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 30px;
}
.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
}
.navbar ul {
    display: flex;
}
.navbar a::after,
.navbar a::before {
    content: "";
    height: 2px;
    position: absolute;
    opacity: 0;
    background-color: #28a745;
    width: 0;
    transition: width 1s, opacity 1s;
}
.navbar a::after {
    top: 0;
    left: 0;
}
.navbar a::before {
    bottom: 0;
    right: 0;
} 
.navbar a:hover::after,
.navbar a:hover::before{
    width: 100%;
    opacity: 1;
}
.navbar .logo {
    font-weight: 400;
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
 /* Hero */
 .hero::before {
    content: "";
    height: 100%;
    width: 100%;
    background: url('../imgs/group-working-laptops-desk.jpg') center center/cover;
    opacity: 0.4;
    z-index: -1;
    position: absolute;
 }

 .hero .content {
    font-size: 2rem;
    text-align: center;
 }
 .hero .content a {
    color:#28a745
 }